
body{
    background: linear-gradient(109.6deg, rgb(223, 234, 247) 11.2%, rgb(244, 248, 252) 91.1%);
}

header{
    font-size: large;
    display: flex;
    justify-content: center;
    
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.search2 {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm2 {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm2:focus{
  color: #00B4CC;
}

.searchButton2 {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap2{
  width: 30%;
  position: absolute;
  top: 80%;
  left: 80%;
  transform: translate(-50%, -50%);
}

.sugBox1{
  position: absolute;
  border: 2px solid #00B4CC;
  height: fit-content;
  width: 93%;
  top: 98%;
  border-radius: 0 0 5px 5px;
  outline: none;
  visibility: hidden;
}

.sugBox2{
  position: absolute;
  border: 2px solid #00B4CC;
  height: fit-content;
  width: 93%;
  top: 98%;
  border-radius: 0 0 5px 5px;
  outline: none;
  visibility: hidden;
}


.chart1{
  width: 30%;
  position: absolute;
  top: 15%;
  left: 5%;

}
.chart2{
  width: 30%;
  position: absolute;
  top: 15%;
  right: 5%;

}

.gfText{
  position: absolute;
  font-size: 15px;
  bottom: 10%;
}

.xGFText{
  position: absolute;
  font-size: 15px;
  bottom: 8%;

}
.gaText{
  position: absolute;
  font-size: 15px;
  bottom: 6%;
}

.xGAText{
  position: absolute;
  font-size: 15px;
  bottom: 4%;

}
.dataText{
  position: absolute;
  font-size: 15px;
  bottom: 0%;
  left: 30%;

}



